.feeling-proud-img {
  height: 800px;
  width: 800px;
  margin-left: 50px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .feeling-proud-img {
    height: 600px;
    width: 600px;
    margin-left: 40px;
  }
}
